*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(95, 169, 243);
    position: relative;
    display: grid;
    grid-template-rows: 'content action';
}

.nav{
    width: 85vw;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(95, 169, 243);
    top: 0;
    z-index: 3;
    left: 7vw;
}

.links
{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.links .link{
}

.links .link a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    padding-left:2vw ;
    padding-right: 2vw;
    border-radius: 0.3vw;
}

.link a:hover {
    background-color: dodgerblue;
    color: white;
    box-shadow: .3vw .3vw .3vw rgb(0, 65, 129);
    transition: 0.2s;
}

.logo a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 600;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left:1.5vw ;
    padding-right: 1.5vw;
    border-radius: 0.3vw;
}

.logo a:hover{
    background-color: dodgerblue;
    color: white;
    box-shadow: .3vw .3vw .3vw rgb(0, 65, 129);
    transition: 0.2s;
}

#dark{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius:10% ;
    cursor: pointer;
    height: 1.3vw;
    width: 3vw;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
}

#blue{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius:10% ;
    cursor: pointer;
    height: 1.3vw;
    width: 3vw;
    background-color: dodgerblue;
    border-radius: 10px;
    position: relative;
    display: none;
    align-self: flex-end;
}

#dark img{
    width: 1vw;
    height: 1vw;
}

#blue img{
    width: 1vw;
    height: 1vw;
}

#dark-con{
    height: 1.3vw;
    width: 5vw;
    background-color: rgb(37, 37, 37);
    position: relative;
    border-radius: 10px;
    cursor:pointer;
    display: flex;
    outline: .25vw solid black;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 7vw;
    height: 47vh;
    position: fixed;
    left: 94vw;
    top: 14vw;
    border-radius: 13px;
}

.action img{
    position: relative;
    width: 5vh;
    right:1vw;
}

.nav .menu{
    display: none;
    background-color: white;
    border: transparent;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 85vw;
    height: 87vh;
    margin: 2vw;
    background-color:dodgerblue ;
    box-shadow: 1vw 1vw .3vw rgba(5, 36, 61, 0.705) ;
    border-radius: 10px;
    animation: slide 1.5s;
    animation-fill-mode: forwards;
    margin-top: 0%;
    position: fixed;
    left:5vw;
    top:4vw;
    z-index: 1;

  /*  background-repeat: no-repeat;
    background-size: cover;
    background-image: url('pic/sweater.jpg'); */
}

@keyframes slide {
    0%{
        margin-top: 100vh;
    }
    
    100%{
        margin-top: 0vh;
    }
}

#text1{
    font-size: 5vw;
    color: white;
    font-family: 'Fredoka One', cursive;
    animation: show .5s;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
    opacity: 0;
    display: block;
    text-align: left;
}

@keyframes show {
    0%{
        opacity: 0;
        font-size: 3vw;
    }

    100%{
       opacity: 1;
       font-size: 5vw;
    }
}

#text2-left{   
    display: inline;
    font-family: 'Festive', cursive;
    position: relative;
    font-size: 2.5vw;
    color: white;
    left:-24vw;
    animation: go-right .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#text2-right{   
    display: inline;
    font-family: 'Festive', cursive;
    position: relative;
    font-size: 2.5vw;
    color: white;
    left:24vw;
    animation: go-left .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes go-right {
    0%{

    }

    100%{
        left:-7vw;
        opacity: 1;
    }
}

@keyframes go-left {
    0%{

    }

    100%{
        left:7vw;
        opacity: 1;
    }
}

#text3{
    display: inline;
    font-family: 'Rampart One', monospace;
    max-width: fit-content;
    position: relative;
    font-size: 2.5vw;
    color: white;
}

#text3::before{
    content: '';
    background-color: dodgerblue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: typing 4s steps(30) 2.5s forwards;
}

#text3::after
{
   content: '';
   width: .25vw;
   background-color: rgb(255, 255, 255);
   position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: cursor-move 4s steps(30) 2.5s forwards,
                blink .5s infinite 2.5s;
}

#text4{
    display: inline;
    font-family: 'Rampart One', monospace;
    position: relative;
    font-size: 2.5vw;
    color: white;
    animation: go-up 1s forwards 6.5s;
    opacity: 0;
}

@keyframes go-up {
    0%{
        bottom: -20vh;
    }

    100%{
        bottom: 0vh;
        opacity: 1;
    }
}

@keyframes typing {
    100%{
        left:100%;
    }
}

@keyframes blink
{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes cursor-move{
    

    100%{
        left: 100%;
    }
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 187vh;
    margin: 2vw;
    background-color:rgb(255, 255, 255) ;
    box-shadow: 1vw 1vw .3vw rgb(5, 36, 61) ;
    z-index: 2;
    top:100vh;
}

.display-case{
    display: flex;
    align-items: flex-start;
}

.big-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hire-me{
    background-image: linear-gradient(to left,rgb(187, 41, 89),rgb(14, 127, 219));
    width: 12vw;
    height: 4vw;
    box-shadow: .7vw .7vw .3vw rgb(119, 29, 59);
    transform: translateX(15vw);
    font-size: 2vw;
    color: aqua;
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    transition: width .5s;
    cursor: pointer;
}

#line{
    height: 55vh;
    width: 0.1vw;
}

.small-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    color: rgb(245, 52, 38);
}

.big-text{
    font-family: 'Bonheur Royale', cursive;
    color: aqua;
    font-size: 4vw;
    font-weight: 500;
    text-align: left;
    text-shadow: 1vw 1vw .6vw rgb(0, 0, 0);
}

.small-text{
    font-family: 'Comfortaa', cursive;
    color: rgb(0, 0, 0);
    font-size: 1.4vw;
    font-weight: 800;
    text-align:left;
    animation:visible 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes visible {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1.0;
    }
}

@media only screen and (max-width:800px)
{
    .link{
        display: none;
    }

    #dark-con{
        display: none
    }

    #text1{
    }

    .action{
        border-radius: 5px;
        height: 30vh;
    }

    .action img{
        width: 5vw;
        right: 0;
    }

    .intro{
        height: 60vh;
    }

    @keyframes slide {
        0%{
            margin-top: 100vh;
        }

        100%{
            margin-top: 2vh;
        }
    }

    @keyframes show {
        0%{
            opacity: 0;
            font-size: 3vw;
        }
    
        100%{
           opacity: 1;
           font-size: 12vw;
        }
    }
    #text2-left{
        font-size: 5.5vw;
    }
    #text2-right{
        font-size: 5.5vw;
    }

    @keyframes go-right {
        0%{
    
        }
    
        100%{
            left:-17vw;
            opacity: 1;
        }
    }
    
    @keyframes go-left {
        0%{
    
        }
    
        100%{
            left:17vw;
            opacity: 1;
        }
    }

    #text3{
        font-size: 4.4vw;
    }

    #text4{
        font-size: 4vw;
    }

    .logo a{
        padding: 2vw;
        font-size: 5vw;
    }

    .nav{
        padding-top: 2vw;
    }
}